fastlane/metadata/android/en-US/images/wearScreenshots/*.png filter=lfs diff=lfs merge=lfs -text
wearApp/src/test/resources/*.jpg filter=lfs diff=lfs merge=lfs -text
wearApp/snapshot/**/*.png filter=lfs diff=lfs merge=lfs -text
