deepai.key
xcuserdata
service_account_key.json
*.iml
.gradle
/local.properties
.DS_Store
/build
**/build
/captures
.externalNativeBuild
.cxx
local.properties
apollo.key
apollo.key.unused

# Idea
**/.idea/*
!**/.idea/codeStyles
!**/.idea/icon.png
!**/.idea/runConfigurations
!**/.idea/scopes

keystore.properties
api-*.json
*.db
