[versions]
accompanist = "0.32.0"
activity-compose = "1.8.1"
androidx-lifecycle = "2.6.2"
androidx-datastore = "1.1.0-alpha06"
apollo = "4.0.0-beta.4"
compose = "1.5.4"
compose-multiplatform = "1.6.0-alpha01"
compose-compiler = "1.5.5-dev-k2.0.0-Beta1-06b8ae672a4"
compose-material-3 = "1.1.2"
credentials-play-services-auth = "1.2.0"
decompose = "2.2.1"
essenty = "1.3.0"
googleid = "1.1.0"
horologist = "0.5.14"
image-loader = "1.7.1"
io-coil-kt = "2.5.0"
kmp-nativecoroutines = "1.0.0-ALPHA-22"
kmm-viewmodel = "1.0.0-ALPHA-16"
koin-android = "3.5.0"
koin-android-compose = "3.5.0"
koin-compose-multiplatform = "1.1.0"
koin-core = "3.5.3"
kotlin = "2.0.0-Beta1"
ksp-plugin = "2.0.0-Beta1-1.0.15"
kotlin-coroutines = "1.7.3"
kotlinx-coroutines-play-services = "1.7.3"
kotlinx-datetime = "0.5.0"
lifecycle = "2.6.2"
lifecycle-livedata-ktx = "2.6.2"
multiplatform-settings = "1.1.1"
nav-compose = "2.7.5"
okio = "3.7.0"
protolayout-expression = "1.0.0"
protolayout-proto = "1.0.0"
robolectric = "4.11.1"
room = "2.6.0"
snapshot-android = "v1.0.2"
work-runtime-ktx = "2.8.1"


[libraries]
accompanist-adaptive = { module = "com.google.accompanist:accompanist-adaptive", version.ref = "accompanist" }
accompanist-systemuicontroller = { module = "com.google.accompanist:accompanist-systemuicontroller", version.ref = "accompanist" }
accompanist-testharness = { module = "com.google.accompanist:accompanist-testharness", version.ref = "accompanist" }
activity-compose = { module = "androidx.activity:activity-compose", version.ref = "activity-compose" }
androidx-benchmarkmacro = "androidx.benchmark:benchmark-macro-junit4:1.2.1"
androidx-complications-rendering = "androidx.wear.watchface:watchface-complications-rendering:1.2.0-rc01"
androidx-credentials-play-services-auth = { module = "androidx.credentials:credentials-play-services-auth", version.ref = "credentials-play-services-auth" }
androidx-datastore = { module = "androidx.datastore:datastore", version.ref = "androidx-datastore" }
androidx-datastore-preferences = { module = "androidx.datastore:datastore-preferences", version.ref = "androidx-datastore" }
androidx-lifecycle-livedata-ktx = { module = "androidx.lifecycle:lifecycle-livedata-ktx", version.ref = "lifecycle-livedata-ktx" }
androidx-lifecycle-viewmodel-ktx = { module = "androidx.lifecycle:lifecycle-viewmodel-ktx", version.ref = "androidx-lifecycle" }
androidx-protolayout-expression = { module = "androidx.wear.protolayout:protolayout-expression", version.ref = "protolayout-expression" }
androidx-protolayout-expression-pipeline = { module = "androidx.wear.protolayout:protolayout-expression-pipeline", version.ref = "protolayout-expression" }
androidx-protolayout-proto = { module = "androidx.wear.protolayout:protolayout-proto", version.ref = "protolayout-proto" }
androidx-work-runtime-ktx = { module = "androidx.work:work-runtime-ktx", version.ref = "work-runtime-ktx" }
androidx-work-testing = { module = "androidx.work:work-testing", version.ref = "work-runtime-ktx" }
apollo-adapters = { module = "com.apollographql.apollo3:apollo-adapters" }
apollo-normalized-cache-in-memory = { module = "com.apollographql.apollo3:apollo-normalized-cache" }
apollo-normalized-cache-sqlite = { module = "com.apollographql.apollo3:apollo-normalized-cache-sqlite" }
apollo-runtime = { module = "com.apollographql.apollo3:apollo-runtime" }
apollo-annotations = { module = "com.apollographql.apollo3:apollo-annotations", version.ref = "apollo" }
apollo-tooling = { module = "com.apollographql.apollo3:apollo-tooling", version.ref = "apollo" }
apollo-testing = { module = "com.apollographql.apollo3:apollo-testing-support" }
apollo-debug-server = { module = "com.apollographql.apollo3:apollo-debug-server" }
atomicfu = "org.jetbrains.kotlinx:atomicfu:0.23.1"
bare-graphQL = "net.mbonnin.bare-graphql:bare-graphql:0.0.2"
car-app-auto = "androidx.car.app:app:1.3.0-rc01"
car-app-automotive = "androidx.car.app:app-automotive:1.2.0"
coil-base = { module = "io.coil-kt:coil-base", version.ref = "io-coil-kt" }
coil-compose = { module = "io.coil-kt:coil-compose", version.ref = "io-coil-kt" }
coil-svg = { module = "io.coil-kt:coil-svg", version.ref = "io-coil-kt" }
compose-compiler = { module = "androidx.compose.compiler:compiler", version.ref = "compose-compiler" }
compose-material = { module = "androidx.compose.material:material", version.ref = "compose" }
compose-material-icons-extended = { module = "androidx.compose.material:material-icons-extended", version.ref = "compose" }
compose-navigation = { module = "androidx.navigation:navigation-compose", version.ref = "nav-compose" }
compose-ui = { module = "androidx.compose.ui:ui", version.ref = "compose" }
compose-ui-manifest = { module = "androidx.compose.ui:ui-test-manifest", version.ref = "compose" }
compose-ui-test-junit4 = { module = "androidx.compose.ui:ui-test-junit4", version.ref = "compose" }
compose-ui-tooling = { module = "androidx.compose.ui:ui-tooling", version.ref = "compose" }
decompose-decompose = { module = "com.arkivanov.decompose:decompose", version.ref = "decompose" }
decompose-extensions-compose-jetpack = { module = "com.arkivanov.decompose:extensions-compose-jetpack", version.ref = "decompose" }
essenty-lifecycle = { module = "com.arkivanov.essenty:lifecycle", version.ref = "essenty" }
desugar = "com.android.tools:desugar_jdk_libs:2.0.4"
federation-jvm = "com.apollographql.federation:federation-graphql-java-support:4.3.0"
firebase-admin = { module = "com.google.firebase:firebase-admin", version = "9.2.0" }
firebase-analytics = { module = "com.google.firebase:firebase-analytics-ktx" }
firebase-auth-ktx = { module = "com.google.firebase:firebase-auth-ktx" }
firebase-bom = "com.google.firebase:firebase-bom:32.6.0"
firebase-crashlytics = { module = "com.google.firebase:firebase-crashlytics-ktx" }
firebase-performance = { module = "com.google.firebase:firebase-perf-ktx" }
firebase-mpp-auth = "dev.gitlive:firebase-auth:1.10.4"
google-cloud-bom = "com.google.cloud:libraries-bom:26.29.0"
google-cloud-storage = { module = "com.google.cloud:google-cloud-storage" }
google-cloud-datastore = "com.google.cloud:google-cloud-datastore:2.17.6"
googleid = { module = "com.google.android.libraries.identity.googleid:googleid", version.ref = "googleid" }
graphql-kotlin-spring-server = "com.expediagroup:graphql-kotlin-spring-server:7.0.2"
horologist-auth-composables = { module = "com.google.android.horologist:horologist-auth-composables", version.ref = "horologist" }
horologist-auth-ui = { module = "com.google.android.horologist:horologist-auth-ui", version.ref = "horologist" }
horologist-auth-data = { module = "com.google.android.horologist:horologist-auth-data", version.ref = "horologist" }
horologist-composables = { module = "com.google.android.horologist:horologist-composables", version.ref = "horologist" }
horologist-compose-layout = { module = "com.google.android.horologist:horologist-compose-layout", version.ref = "horologist" }
horologist-compose-material = { module = "com.google.android.horologist:horologist-compose-material", version.ref = "horologist" }
horologist-compose-tools = { module = "com.google.android.horologist:horologist-compose-tools", version.ref = "horologist" }
horologist-datalayer = { module = "com.google.android.horologist:horologist-datalayer", version.ref = "horologist" }
horologist-datalayer-phone = { module = "com.google.android.horologist:horologist-datalayer-phone", version.ref = "horologist" }
horologist-datalayer-watch = { module = "com.google.android.horologist:horologist-datalayer-watch", version.ref = "horologist" }
horologist-auth-data-phone = { module = "com.google.android.horologist:horologist-auth-data-phone", version.ref = "horologist" }
horologist-networkawareness-core = { module = "com.google.android.horologist:horologist-network-awareness", version.ref = "horologist" }
horologist-networkawareness-db = { module = "com.google.android.horologist:horologist-network-awareness-db", version.ref = "horologist" }
horologist-networkawareness-okhttp = { module = "com.google.android.horologist:horologist-network-awareness-okhttp", version.ref = "horologist" }
horologist-networkawareness-ui = { module = "com.google.android.horologist:horologist-network-awareness-ui", version.ref = "horologist" }
horologist-tiles = { module = "com.google.android.horologist:horologist-tiles", version.ref = "horologist" }
image-loader = { module = "io.github.qdsfdhvh:image-loader", version.ref = "image-loader" }
jsonpath = "com.eygraber:jsonpathkt-kotlinx:3.0.1"
jsoup = "org.jsoup:jsoup:1.17.1"
junit = "junit:junit:4.13.2"
kaml = "com.charleskorn.kaml:kaml:0.56.0"
koin-android = { module = "io.insert-koin:koin-android", version.ref = "koin-android" }
koin-workmanager = { module = "io.insert-koin:koin-androidx-workmanager", version.ref = "koin-android" }
koin-compose = { module = "io.insert-koin:koin-androidx-compose", version.ref = "koin-android-compose" }
koin-compose-multiplatform = { module = "io.insert-koin:koin-compose", version.ref = "koin-compose-multiplatform" }
koin-core = { module = "io.insert-koin:koin-core", version.ref = "koin-core" }
koin-test = { module = "io.insert-koin:koin-test", version.ref = "koin-core" }
koin-test-junit4 = { module = "io.insert-koin:koin-test-junit4", version.ref = "koin-core" }
kotlin-test = { module = "org.jetbrains.kotlin:kotlin-test" }
kmm-viewmodel = { module = "com.rickclephas.kmm:kmm-viewmodel-core", version.ref = "kmm-viewmodel" }
kotlinx-coroutines-core = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-core", version.ref = "kotlin-coroutines" }
kotlinx-coroutines-play-services = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-play-services", version.ref = "kotlinx-coroutines-play-services" }
kotlinx-coroutines-swing = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-swing", version.ref = "kotlin-coroutines" }
kotlinx-datetime = { module = "org.jetbrains.kotlinx:kotlinx-datetime", version.ref = "kotlinx-datetime" }
kotlinx-serialization = "org.jetbrains.kotlinx:kotlinx-serialization-json:1.6.2"
ktor-cio = "io.ktor:ktor-server-cio:2.3.7"
ktor-status-pages = "io.ktor:ktor-server-status-pages:2.3.7"
lifecycle-runtime-compose = { module = "androidx.lifecycle:lifecycle-runtime-compose", version.ref = "lifecycle" }
material3-core = { module = "androidx.compose.material3:material3", version.ref = "compose-material-3" }
material3-window-size = { module = "androidx.compose.material3:material3-window-size-class", version.ref = "compose-material-3" }
multiplatform-settings = { module = "com.russhwolf:multiplatform-settings", version.ref = "multiplatform-settings" }
multiplatform-settings-coroutines = { module = "com.russhwolf:multiplatform-settings-coroutines", version.ref = "multiplatform-settings" }
multiplatform-settings-datastore = { module = "com.russhwolf:multiplatform-settings-datastore", version.ref = "multiplatform-settings" }
okhttp = "com.squareup.okhttp3:okhttp:5.0.0-alpha.12"
okhttp-coroutines = "com.squareup.okhttp3:okhttp-coroutines:5.0.0-alpha.12"
okhttp-logging-interceptor = "com.squareup.okhttp3:logging-interceptor:5.0.0-alpha.12"
play-services-auth = "com.google.android.gms:play-services-auth:20.7.0"
plugin-kotlin = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin", version.ref = "kotlin" }
plugin-android-application = "com.android.tools.build:gradle:8.1.4"
plugin-apollo = { module = "com.apollographql.apollo3:apollo-gradle-plugin", version.ref = "apollo" }
plugin-appengine = "com.google.cloud.tools:appengine-gradle-plugin:2.5.0"
plugin-firebase-crashlytics = { module = "com.google.firebase:firebase-crashlytics-gradle", version = "2.9.9" }
plugin-google-services = "com.google.gms:google-services:4.4.0"
plugin-kmmbridge = "co.touchlab.faktory:kmmbridge:0.3.7"
plugin-kmp-nativecoroutines = { module = "com.rickclephas.kmp:kmp-nativecoroutines-gradle-plugin", version.ref = "kmp-nativecoroutines" }
plugin-kotlin-serialization = { module = "org.jetbrains.kotlin:kotlin-serialization", version.ref = "kotlin" }
plugin-kotlin-spring = { module = "org.jetbrains.kotlin:kotlin-allopen", version.ref = "kotlin" }
plugin-ksp = { module = "com.google.devtools.ksp:symbol-processing-gradle-plugin", version.ref = "ksp-plugin" }
plugin-spring-boot = { module = "org.springframework.boot:spring-boot-gradle-plugin", version = "3.2.0" }
plugin-wire = { module = "com.squareup.wire:wire-gradle-plugin", version = "4.9.3" }
plugin-compose-multiplatform = { module = "org.jetbrains.compose:compose-gradle-plugin", version.ref = "compose-multiplatform" }
stately-common = "co.touchlab:stately-common:2.0.6"

okio = { module = "com.squareup.okio:okio", version.ref = "okio" }
reflect = { module = "org.jetbrains.kotlin:kotlin-reflect", version.ref = "kotlin" }
robolectric = { module = "org.robolectric:robolectric", version.ref = "robolectric" }
room-runtime = { module = "androidx.room:room-runtime", version.ref = "room" }
snapshot-android = { module = "com.github.QuickBirdEng.kotlin-snapshot-testing:snapshot-android", version.ref = "snapshot-android" }
snapshot-jvm = { module = "com.github.QuickBirdEng.kotlin-snapshot-testing:snapshot-jvm", version.ref = "snapshot-android" }
splash-screen = "androidx.core:core-splashscreen:1.0.1"
test-espressocore = "androidx.test.espresso:espresso-core:3.5.1"
test-junit-ktx = "androidx.test.ext:junit-ktx:1.1.5"
test-runner = "androidx.test:runner:1.5.2"
test-uiautomator = "androidx.test.uiautomator:uiautomator:2.3.0-alpha05"
wear-complications-data = "androidx.wear.watchface:watchface-complications-data-source-ktx:1.2.0-rc01"
wear-compose-material = "androidx.wear.compose:compose-material:1.2.1"
wear-compose-navigation = "androidx.wear.compose:compose-navigation:1.2.1"
wire-runtime = "com.squareup.wire:wire-runtime:4.9.3"
xoxo = "net.mbonnin.xoxo:xoxo:0.3"
napier = "io.github.aakira:napier:2.6.1"

[bundles]
multiplatform-settings = ["multiplatform-settings", "multiplatform-settings-coroutines"]
apollo = ["apollo-normalized-cache-in-memory", "apollo-normalized-cache-sqlite", "apollo-adapters"]
