# Deploys to the backend
name: Backend Deploy

on:
  push:
    branches:
      - 'main'
    paths:
      - 'backend/**'
      - 'landing-page/**'
      - 'build.gradle.kts'
      - 'settings.gradle.kts'
      - 'gradle/libs.versions.toml'
      - 'gradle/wrapper/gradle-wrapper.properties'
      - ".github/workflows/**"

# Cancel any current or previous job from the same PR
concurrency:
  group: backend-deploy-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: ubuntu-22.04
    if: github.repository == 'joreilly/Confetti'

    steps:
    - uses: actions/checkout@v4

    - uses: actions/setup-java@v4
      with:
        distribution: 'zulu'
        java-version: 17

    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2.11.1

    - uses: hashicorp/setup-terraform@v3

    - name: Build
      run: |
        ./gradlew :setupCredentials uploadLandingPage
        ./gradlew :backend:service-graphql:bumpCloudRunRevision
        ./gradlew :backend:service-import:bumpCloudRunRevision
        ./gradlew :backend:terraform:apply
      env:
        GOOGLE_SERVICES_JSON: ${{ secrets.GOOGLE_SERVICES_JSON }}
        FIREBASE_SERVICES_JSON: ${{ secrets.FIREBASE_SERVICES_JSON }}
        APOLLO_KEY: ${{ secrets.APOLLO_KEY }}
