name: Build and Publish

# configure manual trigger
on:
  workflow_dispatch:

jobs:
  build:
    name: Test and Build
    runs-on: ubuntu-latest
    steps:

      # Setup Java 1.8 environment for the next steps
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17

      # Check out current repository
      - name: Fetch Sources
        uses: actions/checkout@v4

      # Build application
      - name: Build
        run: ./gradlew :compose-web:wasmJsBrowserDistribution

      # If main branch update, deploy to gh-pages
      - name: Deploy
        if: github.ref == 'refs/heads/master' || github.ref == 'refs/heads/main'
        uses: JamesIves/github-pages-deploy-action@v4.6.4
        with:
          BRANCH: gh-pages # The branch the action should deploy to.
          FOLDER: compose-web/build/dist/wasmJs/productionExecutable # The folder the action should deploy.
          CLEAN: true # Automatically remove deleted files from the deploy branch